body {
  max-width: 680px;
  margin: auto;
}

h1 {
  color: green;
  font-style: italic;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.note {
  color: grey;
  padding-top: 5px;
  font-size: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
